
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../BebasNeue-Regular.woff2') format('woff2');
    url('../BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100%;
  height: auto;
  background: #FFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #0A2B36;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.containerNav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #0A2B36;
}

.menuPage {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoNav img {
  width: 78px;
  height: 49px;
}



.hamburgerMenu.open .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transform-origin: center;
}

.hamburgerMenu.open .hamburger:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.open .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
}


.menuItems {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menuChoice .choice {
  color: #ffffff;
  text-decoration: none;
  font-family: BebasNeue-Regular;
  font-size: 24px;
  letter-spacing: 0.96px;
  transition: color 0.1s ease;
}

.menuChoice .choice:hover {
  color: #2ab8e3;
}

.menuSocial {
  display: none;
  gap: 18px;
  align-items: center;
}

.menuSocial_desktop {
  display: flex;
  gap: 18px;
  align-items: center;
}

.social_Img {
  width: 32px;
  height: 32px;
}

.titleNicolas {
  text-align: center;
  padding: 100px 20px;
}

.fontNicolas {
  color: #15576B;
  font-family: BebasNeue-Regular;
  font-size: 108px;
  margin-bottom: 10px;
  margin-top: -70px;
}

.font_miniNicolas {
  color: #330110;
  font-size: 32px;
  font-weight: 400;
  font-family: Montserrat;
}

.Nicolas_Img {
  width: 100%;
  max-width: 340px;
  height: auto;
  border-radius: 20px;
  margin: 20px 0;
}

.FirstDescription {
  color: #0A2B36;
  font-family: BebasNeue-Regular;
  font-size: 56px;
  letter-spacing: 2.24px;
  margin: -50px 0;
}

.FirstDescription_Digital {
  color: #0A2B36;
  font-family: BebasNeue-Regular;
  font-size: 56px;
  letter-spacing: 2.24px;
  margin: -50px 0;

}

.line1 {
  margin: 80px auto;
}

.line2 {
  margin: 30px auto;
  display: block;
}


.Portfolio {
  color: #15576B;
  font-family: BebasNeue-Regular;
  font-size: 56px;
  letter-spacing: 2.24px;
  margin-top: 130px;
  margin-bottom: 1px;
}

.Portfolio_Chi_sono {
  color: #15576B;
  font-family: BebasNeue-Regular;
  font-size: 56px;
  letter-spacing: 2.24px;
  margin-top: 150px;
  margin-bottom: 50px;

}


.Section1 {
  margin-top: -110px;
  background: var(--Primary-Color-Shades-II, #D4F1F9);
  padding: 50px 20px;
  flex-shrink: 0;


}

.firstBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.CompuSmart_1 {
  width: 100%;
  max-width: 528px;
  height: auto;
  margin-top: -65px;

}

.CompuSmart_Selfie {
  width: 100%;
  max-width: 316px;
  height: auto;
  margin-top: -35px;
  align-self: center;
}



.FirstTest {
  max-width: 600px;
  text-align: left;
  margin-left: 20px;
}

.FirstTest2 {
  max-width: 900px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.FirstTest2_form {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}



.TITLE {
  color: #0A2B36;
  font-family: Montserrat-Regular;
  font-size: 40px;
  font-weight: 700;

}

.TITLE_biografia {
  color: #0A2B36;
  font-family: Montserrat-Bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.TITLE_selfie {
  text-align: left;
}

.TITLE_biografia {
  text-align: left;
}

.SUBTITLE {
  color: #0A2B36;
  font-family: Montserrat;
  font-size: 32px;
  margin-bottom: 20px;
}

.TEXT {
  color: #0A2B36;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.TEX_selfie,
.TEX_biografia {
  color: #0A2B36;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 128%;
}

.TEX_selfie {
  text-align: left;
}

.TEX_biografia {
  text-align: left;
}

.TEXT_retention {
  margin-top: 50px;
  color: var(--Primary-Color, #0A2B36);

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -100px;

}

.projectLink {
  border-radius: 24px;
  background: var(--Accent-Color, #630B25);
  display: block;
  margin: 20px auto;

  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat-Regular;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  max-width: 250px;

}

.projectLink:hover {
  background: #330110;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  user-select: none; 
  cursor: grab;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

}
.carousel-inner:active {
  cursor: grabbing;

}
.card {
  font-family: Montserrat;
  background-color: #0b3c4e;
  padding: 20px;
  border-radius: 24px;
  color: #fff;
  width: 650px;
  margin: 0 auto;
  text-align: left;
}

.carousel-dots {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background: #330110;
}

h2 {
  color: #ffffff;
}

.form-container {
  max-width: 864px;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;

}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.form-group {
  width: 48%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-group.full-width {
  width: 100%;
  position: relative;
}


label {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  font-family: Montserrat;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #800020;
  border-radius: 20px;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  height: 80px;
  resize: vertical
}

textarea {
  width: 100%;
  height: 215.499px;
  border-radius: 20px;
}

.Footer-name-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.Footer-name {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

}

.Footer-name-group-cv {
  display: flex;
  width: 166.115px;
  height: 24.144px;
  padding-bottom: 0.144px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}

.Footer-name-group-social {
  display: flex;
  width: 166.115px;
  height: 24.144px;
  padding-bottom: 0.144px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}

.Footer-cv {
  color: #FFF;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;

}

.Footer-social {
  margin-right: -100px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}


@media (min-width: 620px) and (max-width: 899px) {
  .Footer-name-group-cv {
    display: none;
    margin-left: auto;

    width: 166.115px;
    height: 24.144px;
    padding-bottom: 0.144px;
    justify-content: right;
    align-items: right;
    flex-shrink: 0;

  }

  .Footer-cv {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

  }
}

@media (max-width: 900px) {
  .top-body {
    margin-top: 50px;
  }

  .containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 35px;
    position: fixed;
    width: 100%;
  }

  .menuPage {
    justify-content: space-between;
  }

  .hamburgerMenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #15576B;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .hamburger {
    width: 25px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .menuItems.show {
    display: flex;
  }

  .menuChoice {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .menuChoice a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;

  }

  .menuSocial {
    display: flex;
    margin-right: auto;

  }

  .menuSocial_desktop {
    display: none;
    gap: 18px;
    align-items: center;
  }

  .firstBlock_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
  }

  .FirstTest2_form {

    text-align: center;
    margin: 0 20px;
  }
}

@media (max-width: 1000px) {

  html,
  body {
    width: 100%;
    height: auto;
    background: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


  .card {
    width: 80%;


  }

  .carousel-item {
    box-sizing: border-box;
    border-radius: 24px;
    justify-content: center;
    align-items: center; 
  }

  .form-container {
    padding: 20px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: 150px;
  }

  input,
  textarea {
    height: 50px;
  }

  .form-group.full-width textarea {
    height: 150px;
  }

  .form-container button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
  }

  .firstBlock_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
  }

  .FirstTest2_form {

    text-align: center;
    margin: 0 20px;
  }

}


@media (max-width: 900px) {

  html,
  body {
    width: 100%;
    height: auto;
    background: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .Footer-name-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
  }

  .Footer-name {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-right: 15px;
  }

  .Footer-name-group-cv {
    margin-left: auto;
    width: 166.115px;
    height: 24.144px;
    padding-bottom: 0.144px;
    justify-content: right;
    align-items: right;
    flex-shrink: 0;

  }

  .Footer-cv {
    color: #FFF;


    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

  }

  .Footer-social {
    margin-right: -100px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .Footer-name-group-social,
  .social-footer {
    display: none;
  }



  .containerNav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }




  .firstBlock_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
  }

  .FirstTest2_form {

    text-align: center;
    margin: 0 20px;
  }

  .titleNicolas .fontNicolas {
    margin-top: -30px;
    text-align: 200px;
    font-size: 48px;
  }

  .font_miniNicolas {
    font-size: 16px;
    font-family: Montserrat;
  }

  .FirstDescription {
    margin-top: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;
  }

  .FirstDescription_Digital {
    margin-top: -50px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;

  }

  .Portfolio {
    margin-top: 100px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;
  }

  .Portfolio_Chi_sono {
    color: #15576B;
    font-family: BebasNeue-Regular;
    font-size: 40px;
    letter-spacing: 2.24px;
    margin-top: 110px;
    margin-bottom: -20px;
  }

  .FirstTest {
    text-align: center;
    margin: auto;
  }

  .TITLE {
    margin-top: -30px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat-Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: left;

  }

  .SUBTITLE {
    text-align: left;
    margin-top: 0px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .TEXT {
    font-size: 16px;
    color: var(--Primary-Color, #0A2B36);

    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .TEXT_retention {
    margin-top: 50px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat;
    font-size: 16px;
    line-height: normal;
    margin-bottom: -80px;
    font-weight: 500;

  }

  .TEX_selfie {
    color: #0A2B36;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    font-weight: 500;

  }

  .TEX_biografia {
    color: #0A2B36;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 128%;
    text-align: left;
    font-weight: 500;

  }

  .TITLE_selfie {
    color: #0A2B36;
    font-family: Montserrat-Bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: right;
  }

  .TITLE_biografia {
    color: #0A2B36;
    font-family: Montserrat-Bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 15px;

  }

  .line1 {
    display: none;
  }

  .line2 {
    display: none;
  }

  .CompuSmart_1 {
    width: 100%;
    max-width: 312px;
    margin: auto;
    margin-top: -10px;
  }

  .CompuSmart_Selfie {
    width: 100%;
    max-width: 130px;
    height: auto;
    margin: auto;
    margin-top: 10px;

  }

  .projectLink {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #630B25;
    color: white;
    border: none;
    border-radius: 24px;
    display: block;
    justify-content: center;
  }



  .Nicolas_Img {
    width: 171px;
    height: 182px;
    flex-shrink: 0;
  }

  .card {
    width: 90%;
    padding: 15px;
    border-radius: 24px;

  }

  .carousel-item {
    min-width: 100%;
    justify-content: center; 
    align-items: center;
  }

  .carousel {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media (max-width: 1000px) {

  html,
  body {
    width: 100%;
    height: auto;
    background: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .Footer-name-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
  }

  .Footer-name {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-right: 15px;
  }

  .Footer-name-group-cv {
    margin-left: auto;

    width: 166.115px;
    height: 24.144px;
    padding-bottom: 0.144px;
    justify-content: right;
    align-items: right;
    flex-shrink: 0;

  }

  .Footer-cv {
    color: #FFF;


    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

  }

  .Footer-social {
    margin-right: -100px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .Footer-name-group-social,
  .social-footer {
    display: none;
  }



  .containerNav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   justify-content: center;
  }




  .firstBlock_form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
  }

  .FirstTest2_form {

    text-align: center;
    margin: 0 20px;
  }

  .titleNicolas .fontNicolas {
    margin-top: -30px;
    text-align: 200px;
    font-size: 48px;
  }

  .font_miniNicolas {
    font-size: 16px;
    font-family: Montserrat;
  }

  .FirstDescription {
    margin-top: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;
  }

  .FirstDescription_Digital {
    margin-top: -50px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;

  }

  .Portfolio {
    margin-top: 100px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.28px;
  }

  .Portfolio_Chi_sono {
    color: #15576B;
    font-family: BebasNeue-Regular;
    font-size: 40px;
    letter-spacing: 2.24px;
    margin-top: 110px;
    margin-bottom: -20px;
  }

  .FirstTest {
    text-align: center;
    margin: auto;
  }

  .TITLE {
    margin-top: -30px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat-Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: left;

  }

  .SUBTITLE {
    text-align: left;
    margin-top: 0px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .TEXT {
    font-size: 16px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .TEXT_retention {
    margin-top: 50px;
    color: var(--Primary-Color, #0A2B36);
    font-family: Montserrat;
    font-size: 16px;
    line-height: normal;
    margin-bottom: -80px;
    font-weight: 500;

  }

  .TEX_selfie {
    color: #0A2B36;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    font-weight: 500;

  }

  .TEX_biografia {
    color: #0A2B36;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 128%;
    text-align: left;
    font-weight: 500;

  }

  .TITLE_selfie {
    color: #0A2B36;
    font-family: Montserrat-Bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .TITLE_biografia {
    color: #0A2B36;
    font-family: Montserrat-Bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 15px;

  }

  .line1 {
    display: none;
  }

  .line2 {
    display: none;
  }

  .CompuSmart_1 {
    width: 100%;
    max-width: 312px;
    margin: auto;
    margin-top: -10px;
  }

  .CompuSmart_Selfie {
    width: 100%;
    max-width: 130px;
    height: auto;
    margin: auto;
    margin-top: 10px;

  }

  .projectLink {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #630B25;
    color: white;
    border: none;
    border-radius: 24px;
    display: block;
    justify-content: center;
  }



  .Nicolas_Img {
    width: 171px;
    height: 182px;
    flex-shrink: 0;
  }

  .card {
    width: 90%;
    padding: 15px;
    border-radius: 24px;

  }

  .carousel-item {
    min-width: 100%;
    justify-content: center; 
    align-items: center; 
  }

  .carousel {
    padding-left: 0px;
    padding-right: 0px;
  }

}
